@media screen and (max-width:576px){
  .user-resp::before{
    display: none;
  }
.some-pics{
  display: none;
}
.user-resp{
  margin: 0 0  20px 0;
}
}
@media screen and (max-width: 768px){
  .some-pics{
    display: none;
  }
  .comment::before{
    left: 4%;
    top: -15%;
  }
}

